*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    min-height: 100vh;
    width: 100%;
    background-color: #313131;
    padding: 10px;
}

/* .box{
    height: 140px;
    width: 120px;
    background-color: seagreen;
    animation: myanime;
    position: relative;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   animation-direction: alternate;
} */
/* 
@keyframes myanime {
    from{
        left: 0px;
    }
    to{
        left: 1140px;
    }
} */

h2{
    position: relative;
    top: 50%;
    left: 40%;
}
.box:hover{
    margin: 50px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: rebeccapurple;
    transition: 3s linear;
}

.box{
    height: 140px;
    width: 120px;
    background-color: seagreen;
    position: relative;
    transition: left 2s linear;
}
